.diagram-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

svg {
  overflow: visible;
}

text {
  pointer-events: none;
}

image {
  pointer-events: none;
}