/* 
.bgn-features-list li {
    padding: 8px 30px 10px;
    border-radius: 23px;
    border: solid 1px rgb(255, 255, 255);
    font-size: 1px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    color: #fff;
    transition: .3s all ease;
} */